.gradle/
.idea/
build/
/bot.props
/config.json
/config
/purgeArchives
/logs
/db
/target/
# Eclipse settings
.classpath
.project
.settings/
bin/
/.factorypath

# H2 Database
*.mv.db
*.trace.db
*.lock.db
